# Question 1:

In [3]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [4]:
def c(a):
  """This function adds 2 to the input argument"""
  return a + 2

def b():
  """This function modifies the global variable a"""
  global a
  a = c(a)

a = 0  # Initialize global variable a

b()  # Call b() to modify a
b()  # Call b() again to modify a
b()  # Call b() again to modify a

print(a)  # Print the final value of a

6

# explanation:
1)def c(a): defines a function named c that takes one argument a. The function simply returns the value of a plus 2.
2)def b(): defines a function named b that modifies the global variable a.
3)a = 0 initializes the global variable a to 0.
4)b() calls the function b(). Inside the function, the global a statement declares that we are modifying the global variable a. The statement a = c(a) calls the function c(a), which returns the value of a plus 2. Since a is currently 0, c(a) returns 2. The value 2 is then assigned back to a.
5)b() calls the function b() again. This time, a is already 2, so c(a) returns 4. The value 4 is then assigned back to a.
6)b() calls the function b() one last time. Now, a is 4, so c(a) returns 6. The value 6 is then assigned back to a.
7)print(a) prints the final value of a, which is now 6.

# QUESTION 2:

In [98]:
 
def fileLength(file_name):
    try:
        infile = open(file_name, 'r')
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print(f"File {file_name} not found.")
        return None

# Test cases
print(fileLength('midterm.py'))  # Output: 358
print(fileLength('idterm.py'))   # Output: File idterm.py not found.

File midterm.py not found.
None
File idterm.py not found.
None

# QUESTION 3:

In [25]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call Marsupial's constructor
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [26]:
k = Kangaroo(0, 0)
print(k)  # I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # I am a Kangaroo located at coordinates (3,0)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4:

In [28]:

def collatz(x):
  """
  This function recursively prints the Collatz sequence starting at a positive integer x.
  """
  if x == 1:
    print(x)  # Base case: stop when reaching 1
  else:
    print(x, end=" ")
    if x % 2 == 0:  # Even number
      collatz(x // 2)
    else:             # Odd number
      collatz(3 * x + 1)

# Example usage
collatz(1)  # Output: 1
collatz(10) # Output: 10 5 16 8 4 2 1

1
10 5 16 8 4 2 1

# QUESTION 5:

In [35]:
def binary(n):
    if n == 0:
        print("0", end="")
    elif n == 1:
        print("1", end="")
    else:
        binary(n // 2)
        print(n % 2, end="")

In [37]:
# Testing the function with provided examples
binary(0)
print()  # Output: 0
binary(1)
print()  # Output: 1
binary(3)
print()  # Output: 11
binary(9)
print()  # Output: 1001

0
1
11
1001

# QUESTION 6:

In [100]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = None
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.current_heading = tag
            self.indentation = int(tag[1]) - 1  # h1 starts with indentation 0

    def handle_endtag(self, tag):
        if tag == self.current_heading:
            print(' ' * self.indentation + self.headings[-1])
            self.current_heading = None

    def handle_data(self, data):
        if self.current_heading:
            self.headings.append(data.strip())

# Example usage
if __name__ == "__main__":
    html_content = """
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta name="description" content="Webpage description goes here" />
      <meta charset="utf-8">
      <title>Change_me</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="">
      <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      <h1>W3C Mission</h1>
      <h2>Principles</h2>
    </body>
    </html>
    """

    # Create HeadingParser instance and feed it with HTML content
    hp = HeadingParser()
    hp.feed(html_content)

W3C Mission
 Principles

# QUESTION 7:

In [51]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(" " * indent + url)
    if depth == 0:
        return
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        for link in soup.find_all('a', href=True):
            href = link['href']
            if href.startswith("http"):
                webdir(href, depth - 1, indent + 1)
            elif href.startswith("/"):
                webdir(url + href, depth - 1, indent + 1)
    except requests.exceptions.RequestException as e:
        print(" " * indent + "Error: " + str(e))

# Test the function
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# QUESTION 8:

In [153]:
# Data representing the table (replace with actual values if necessary)
weather_data = [
    ['Mumbai', 'India', 'Winter', 24.8, 5.9],
    ['Mumbai', 'India', 'Spring', 28.4, 16.2],
    ['Mumbai', 'India', 'Summer', 27.9, 1549.4],
    ['Mumbai', 'India', 'Fall', 27.6, 346.0],
    ['London', 'United Kingdom', 'Winter', 4.2, 207.7],
    ['London', 'United Kingdom', 'Spring', 8.3, 169.6],
    ['London', 'United Kingdom', 'Summer', 15.7, 157.0],
    ['London', 'United Kingdom', 'Fall', 10.4, 218.5],
    ['Cairo', 'Egypt', 'Winter', 13.6, 16.5],
    ['Cairo', 'Egypt', 'Spring', 20.7, 6.5],
    ['Cairo', 'Egypt', 'Summer', 27.7, 0.1],
    ['Cairo', 'Egypt', 'Fall', 22.2, 4.5],
]

# Print the data (optional)
for row in weather_data:
    print(row)

['Mumbai', 'India', 'Winter', 24.8, 5.9]
['Mumbai', 'India', 'Spring', 28.4, 16.2]
['Mumbai', 'India', 'Summer', 27.9, 1549.4]
['Mumbai', 'India', 'Fall', 27.6, 346.0]
['London', 'United Kingdom', 'Winter', 4.2, 207.7]
['London', 'United Kingdom', 'Spring', 8.3, 169.6]
['London', 'United Kingdom', 'Summer', 15.7, 157.0]
['London', 'United Kingdom', 'Fall', 10.4, 218.5]
['Cairo', 'Egypt', 'Winter', 13.6, 16.5]
['Cairo', 'Egypt', 'Spring', 20.7, 6.5]
['Cairo', 'Egypt', 'Summer', 27.7, 0.1]
['Cairo', 'Egypt', 'Fall', 22.2, 4.5]

In [ ]:
#a) All the temperature data.
SELECT City, Country, Season, Temperature
FROM Weather;

In [ ]:
#b) All the cities, but without repetition.
SELECT DISTINCT City 
FROM weather_data;

In [ ]:
#c) All the records for India.
SELECT * FROM weather_data WHERE Country = 'India';

In [ ]:
#d) All the Fall records
SELECT * FROM weather_data WHERE Season = 'Fall';

In [ ]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
SELECT City, Country, Season
FROM weather_data
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400;

In [ ]:
#f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
SELECT City, Country
FROM weather_data
WHERE Season = 'Fall'
GROUP BY City, Country
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature);

In [ ]:
#g) The total annual rainfall for Cairo.
SELECT SUM(Rainfall) AS TotalRainfall
FROM weather_data
WHERE City = 'Cairo';

In [ ]:
#h) The total rainfall for each season.
SELECT Season, SUM(Rainfall) AS TotalRainfall
FROM weather_data
GROUP BY Season;

# QUESTION:9

In [56]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [62]:
#(A)Uppercase words list:
uppercase_words = [word.upper() for word in words]
print(uppercase_words)
# Output: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [65]:
#(b)Lowercase words list:
lowercase_words = [word.lower() for word in words]
print(lowercase_words)
# Output: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [67]:
#(c)Length of words list:
word_lengths = [len(word) for word in words]
print(word_lengths)
# Output: [3, 5, 5, 3, 5, 4, 3, 4, 3]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [74]:
#(d)List of lists containing uppercase, lowercase, and length:
list_of_lists = [[word.upper(), word.lower(), len(word)] for word in words]
print(list_of_lists)
# Output: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5],
#          ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4],
#         ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [76]:
#(e)Words with 4 or more characters:
long_words = [word for word in words if len(word) >= 4]
print(long_words)
# Output: ['quick', 'brown', 'jumps', 'over', 'lazy']

['quick', 'brown', 'jumps', 'over', 'lazy']